<center>
<h1 style="color: black">Olá!</h1>
  <h1 style="color: black">Seja Bem-vindo à Biblioteca do Senhor Juvenal!</h1>
</center>
<h3 ><center><%= link_to "Faça uma nova reserva!",new_reservation_path %></center></h3>

<h4 class="mobile hidden-md hidden-lg"><%= link_to "Autores",authors_path %></h4>
<h4 class="mobile hidden-md hidden-lg"><%= link_to "Bibliotecários",librarians_path %></h4>
<h4 class="mobile hidden-md hidden-lg"><%= link_to "Categorias",categories_path %></h4>
<h4 class="mobile hidden-md hidden-lg"><%= link_to "Clientes",clients_path %></h4>
<h4 class="mobile hidden-md hidden-lg"><%= link_to "Livros",books_path %></h4>
<h4 class="mobile hidden-md hidden-lg"><%= link_to "Reservas",reservations_path %></h4>
