<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="/assets/user2-160x160.jpg" class="img-circle" alt="User Image" />
      </div>
      <div class="pull-left info">
        <p>Senhor Juvenal</p>
        <!-- Status -->
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <!-- Optionally, you can add icons to the links -->
      <li><%= link_to "Início",home_index_path %><i class='fa fa-link'></i> </li>
      <li><%= link_to "Autores",authors_path %><i class='fa fa-link'></i> </li>
      <li><%= link_to "Bibliotecários",librarians_path %><i class='fa fa-link'></i> </li>
      <li><%= link_to "Categorias",categories_path %><i class='fa fa-link'></i> </li>
      <li><%= link_to "Clientes",clients_path %><i class='fa fa-link'></i> </li>
      <li><%= link_to "Livros",books_path %><i class='fa fa-link'></i> </li>
      <li><%= link_to "Reservas",reservations_path %><i class='fa fa-link'></i> </li>
    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
